

*{ margin-top:0 ;}


body{
  font-family: 'Nunito', sans-serif;
  background-color: #f0f1f1;
}

header{
  background-color: royalblue;
  padding: 10px;
  color: #fff;
  text-align: center;
}

main{
  padding: 30px 50px;
}



  #content {
    margin-top: 50px;
    padding: 0px 400px  400px   ;
    display: flex;
    
  }



.card{
    background-color: #fff;
    border: 2px solid rgb(30, 20, 75);
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;

}

.lineInput{
    display: grid;
    margin-bottom:10px;

}

input{
    padding: 10px;
    border: 1px solid rgb(34, 26, 73);
    border-radius: 3px;
    outline: 0;
}

button{
    border: 0px;
    padding: 10px;
    outline: 0;
    background-color: royalblue;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
  
  }

button:hover{
  background-color: rgb(98, 119, 187);
}


nav a{
	text-transform: uppercase;
	color:#000000;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
}

  #tabela-lista {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    width: 80%;
    margin-top: 50px;
    display: block;
    width: 500px;
    height: 400px;
    overflow: auto;
  }



  #tabela-lista td,
  #tabela-lista th {
    border: 1px solid #ddd;
    padding: 8px;
    width: auto;
  }

  #tabela-lista tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #tabela-lista tr:hover {
    background-color: #468ddf;
  }
  .fa-trash-alt {
    font-size: 18px;
    padding: auto;
    color: rgb(18, 19, 18);
  }

  #tabela-lista th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #dcdcdc;
    color: rgb(0, 14, 64);
  }

  



  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #7e459b;
    color: white;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* #tabela-lista .selecionado {
    background-color: #2eb82e !important;
  }
  #tabela-lista tr td:last-child {
    background-color: #b0e0e6;
  } */ 